/* Variables */
/* Styles */
/* line 16, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
body {
  font-family: "Roboto", sans-serif;
  color: #4eb0e3; }

/* line 21, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* line 27, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
h1 {
  font-size: 60px;
  font-weight: 100;
  color: #4eb0e3;
  text-align: center; }

/* line 34, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
#header {
  margin-top: 50px; }

/* line 38, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
#legend {
  border-top: 2px solid #4eb0e3;
  border-bottom: 2px solid #4eb0e3;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0; }
  /* line 46, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 100%; }
  /* line 51, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend .district {
    font-weight: 400; }
  /* line 54, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #pnwSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #f39c12;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 64, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #michiganSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #34495e;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 74, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #indianaSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #7f8c8d;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 84, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #georgiaSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #e74c3c;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 94, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #ncSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #2ecc71;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 104, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #chesapeakeSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #9b59b6;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 114, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #midAtlanticSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #F0BB42;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }
  /* line 124, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #legend #neSquare:before {
    content: '';
    height: 15px;
    width: 15px;
    background: #1D8251;
    border-radius: 20%;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block; }

/* line 136, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
#map {
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
  border: 1px solid red; }

@media (min-width: 1200px) {
  /* line 144, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #map {
    width: 60vw;
    height: 60vh; } }

@media (min-height: 700px) {
  /* line 151, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  #map {
    padding-top: 0; } }

/* line 156, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
.footer {
  text-align: center;
  margin-top: 10px;
  color: #222;
  font-weight: 500; }
  /* line 161, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  .footer a {
    transition: 0.3s all;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 165, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
    .footer a:hover {
      color: #0e3e57; }

/* line 171, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
.popup {
  position: absolute;
  max-width: 400px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white; }
  /* line 181, C:/Users/ramz_000/Desktop/Map/new/css/styles.scss */
  .popup .dialog {
    padding: 10px; }

/*# sourceMappingURL=styles.css.map */