.roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #7C8387;
}

p {
    font-size: 2.5em;
    line-height: 1;
}

h1 {
    font-size: 8.5em;
    font-weight: 900;
    line-height: 0%;
    text-align:center;
    color: #75C3ED;
    line-height:0.7;
}

h2 {
    font-size: 1.95em;
    line-height: 1;
    text-align:center;
    line-height:1;
    font-weight:700;
}

a {
    text-decoration: none;
    color: #75C3ED;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    text-decoration: underline;
}

div.main {
    word-wrap: break-word;
    width: 40em;
    margin: 0 auto;
    border: 0px dotted;
}

div.top {
    border: 1px dotted;
    border-color: white;
    height: 110px;
}

.header{
    text-align:center; font-family: 'Roboto', sans-serif;;font-size:6em;line-height:0;font-weight:900;
}   

div.small{
    height:175px;
}