/* Variables */
/* Styles */
/* line 14, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
* {
  transition: all 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 23, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
body,
html {
  background: #222;
  color: #00ff00;
  font-family: "Droid Sans Mono", monospace; }

/* line 29, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.window h1 {
  font-size: 20px;
  font-weight: 500; }

/* line 34, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
a {
  color: #00ff00;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
  padding-bottom: 3px;
  line-height: 200%; }
  /* line 41, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  a:hover {
    color: #00b300;
    border-color: #00b300; }

/* line 47, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.container {
  margin-top: 10vh;
  max-width: 500px; }

@media (max-width: 600px) {
  /* line 53, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .container {
    margin-top: 30px; } }

/* line 59, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.window {
  background: #282828;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 20px;
  padding-top: 40px;
  font-size: 20px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  position: relative; }
  /* line 68, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .window header {
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background-color: #333; }
  /* line 77, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .window header ul {
    float: left;
    height: 32px;
    margin: 0 10px;
    padding-left: 5px; }
  /* line 83, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .window header ul li {
    margin: 10px 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer; }

/* line 93, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.close {
  background-color: #e74c3c; }
  /* line 95, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .close:hover {
    background-color: #d62c1a; }

/* line 100, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.minimize {
  background-color: #f1c40f; }
  /* line 102, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .minimize:hover {
    background-color: #c29d0b; }

/* line 107, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.maximize {
  background-color: #27ae60; }
  /* line 109, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .maximize:hover {
    background-color: #1e8449; }

/* line 114, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.links {
  font-size: 16px;
  text-align: center; }

/* line 119, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.active {
  border-top: 2px solid #00ff00; }

/* line 123, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.cursor:after {
  content: "_";
  font-weight: 900;
  opacity: 0;
  animation: cursor 1s infinite; }

@keyframes cursor {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* line 148, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.invisible {
  visibility: hidden;
  opacity: 0; }

/* line 153, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.visible {
  visibility: visible;
  opacity: 1; }

/* line 158, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.more {
  margin-top: 20px;
  border-radius: 5px;
  text-align: right;
  padding: 10px;
  line-height: 75%; }
  /* line 164, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .more p {
    font-size: 12px;
    line-height: 150%; }
  /* line 168, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .more a {
    border: none;
    font-weight: 900; }
  /* line 172, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .more i {
    font-size: 12px; }

/* line 177, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.skills {
  text-align: left; }
  /* line 179, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  .skills li {
    padding-bottom: 10px; }

/* line 184, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.work {
  text-align: right; }

/* line 188, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.title {
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #00ff00; }

/* line 195, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
.contact {
  text-align: center; }

/* line 199, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
a.resume {
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #00ff00;
  font-weight: 500; }
  /* line 205, C:/Users/ramz_000/Desktop/ramzallan.github.io/css/style.scss */
  a.resume:hover {
    color: #00b300;
    border-color: #00b300; }

/*# sourceMappingURL=style.css.map */