/* Variables */
/* Styles */
body,
html {
  background: #222;
  color: #00ff00;
  font-family: "Droid Sans Mono", monospace; }

.window h1 {
  font-size: 20px;
  font-weight: 500; }
  .window h1 a {
    border: none;
    font-weight: bold;
    line-height: 0; }

a {
  color: #00ff00;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #00ff00;
  padding-bottom: 3px;
  line-height: 200%; }
  a:hover {
    color: #00b300;
    border-color: #00b300; }

.container {
  margin-top: 10vh;
  max-width: 550px; }

@media (max-width: 600px) {
  .container {
    margin-top: 30px; } }

.window {
  background: #282828;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 20px;
  padding-top: 40px;
  font-size: 20px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  position: relative; }
  .window header {
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background-color: #333; }
  .window header ul {
    float: left;
    height: 32px;
    margin: 0 10px;
    padding-left: 5px; }
  .window header ul li {
    margin: 10px 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block; }

.close {
  background-color: #e74c3c; }
  .close:hover {
    background-color: #d62c1a; }

.minimize {
  background-color: #f1c40f; }
  .minimize:hover {
    background-color: #c29d0b; }

.maximize {
  background-color: #27ae60; }
  .maximize:hover {
    background-color: #1e8449; }

.links {
  font-size: 16px;
  text-align: center; }

.active {
  border-top: 2px solid #00ff00; }

.cursor:after {
  content: "_";
  font-weight: 900;
  opacity: 0;
  animation: cursor 1s infinite; }

@keyframes cursor {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.more {
  margin-top: 20px;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  line-height: 75%;
  display: none; }
  .more p {
    font-size: 12px;
    line-height: 125%; }
  .more a {
    border: none;
    font-weight: 900; }
  .more i {
    font-size: 12px; }

.skills li {
  padding-bottom: 10px; }

.work {
  line-height: 1.5; }
  .work a {
    font-weight: 900;
    margin-right: 15px;
    line-height: 1.2; }
  .work li {
    list-style-type: none;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%; }
  .work br + a {
    font-size: 14px;
    margin-left: 25px;
    line-height: 2; }
  .work p a {
    margin: 0; }
  .work strong {
    font-style: italic; }

.title {
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #00ff00; }

.contact {
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s; }

.resume a {
  font-size: 20px;
  line-height: 100%;
  font-weight: 900;
  margin-right: 15px; }
  .resume a:hover {
    color: #00b300; }

.resume a,
.resume a + i {
  line-height: 175%; }

.resume i {
  font-size: 15px; }

.copy {
  position: fixed;
  bottom: -12px;
  left: 10px;
  width: 10px;
  height: 15px;
  line-height: 100%;
  overflow: hidden;
  word-wrap: none;
  font-size: 14px;
  opacity: 0.75;
  z-index: 999; }
  .copy:hover {
    width: 75vw;
    opacity: 1; }

#showMore {
  text-align: center; }

#hiddenWork {
  display: none; }

@media (max-width: 500px) {
  .copy {
    position: relative; } }
