
.roboto{
font-family: 'Roboto', sans-serif;
}

body{
font-family: 'Titillium Web', sans-serif;
color:#3C6F8A;
}



a{
text-decoration:none;

  color:#75C3ED;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.25s;
}

a:hover {
color:#50ADDF;
text-decoration:underline;
}

div.main{
width:750px;
margin: 0 auto;
border: 0px dotted;
}

/*
div.first{
	font-family:Arial, sans-serif;
	text-align:center;		/* Aligns text to horizontal center 
	line-height:200px;		/* Aligns text to vertical center - only works with one row of text 
	width:200px;
	height:200px;
	background-color: #4eb0e3;
	top:50%;
	left:50%;
	margin:-200px 0 0 -200px;
	border-radius:15px;
	
}

/*
div div{
	opacity: 1.0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


div div:hover{
	opacity: 0.7;
}

a{
	text-decoration:none;
	color:#000;
}

 */
