body {
    background:#F5F5F5;
    font-family: 'Roboto', sans-serif;
    color:#333333;
}

p {
    font-size: 1.3em;
    line-height: 1;
    font-weight:500;
}

.pictures img{
align-content:right;
}

/*
div{
    border:1px dotted #ffffff;
}
*/
.bottom{
    border-top:1px solid black;
    margin-top:5%;
    padding-top:10px;
    text-align:center;
    font-size:0.8em;
    font-weight:500;
}
.sites{
    line-height:1;
    font-size:2em;
    font-weight:300;
}

.container{
    margin-bottom:5%;
}
.title{
    font-size:1.7em;
    font-weight:900;
    line-height:0;
}

.thick{
    font-weight:bolder;
    font-size:8em;
}

h1 {
    font-size: 8em;
    font-weight: 100;
    line-height: 0%;
    text-align:center;
    color: #75C3ED;
    line-height:2;
}

h2 {
    font-size: 1.64em;
    line-height: 1.5;
    text-align:center;
    line-height:1;
    font-weight:700;
    color:#444;
}

h3{
    font-size:2.5em;
    line-height:2;
    text-align:center;
    color:#777;
    font-weight:100;
}

a {
    text-decoration: none;
    color: #75C3ED;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    text-decoration: underline;
}

div.main {
    word-wrap: break-word;
    width: 40em;
    margin: 0 auto;
    border: 0px dotted;
}

div.top {
    border: 1px dotted;
    border-color: white;
    height: 110px;
}

.header{
    text-align:center; font-family: 'Roboto', sans-serif;
    font-size:6em;
    line-height:0;
    font-weight:900;
}

