/* line 2, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
* {
  transition: 0.3s all; }

/* line 6, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
body {
  margin-top: 20px;
  background: #F5F5F5;
  font-family: "Roboto Slab", serif; }

/* line 12, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.container {
  max-width: 1200px; }

/* line 16, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
a {
  text-decoration: none;
  transition: 0.3s all;
  font-weight: 600;
  color: #2980b9; }
  /* line 21, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  a:hover {
    color: #164666; }

/* line 26, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.row {
  margin-bottom: 30px; }

/* line 31, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.columns,
.column {
  height: 100%; }

/* line 38, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.header h1 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 2px solid #2980b9;
  margin: 10px 0; }

/* line 47, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.left {
  text-align: left;
  padding: 0 10px; }

/* line 52, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.right {
  text-align: right;
  padding: 0 10px; }

/* line 57, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.logo {
  text-align: center;
  height: 150px; }
  /* line 60, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .logo img {
    height: 100%; }

/* line 66, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.navigation .nav {
  display: inline;
  list-style-type: none;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #2980b9; }
  /* line 73, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .navigation .nav:hover {
    border-color: #164666; }
  /* line 76, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .navigation .nav a {
    display: block; }

/* line 82, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.slider {
  margin-bottom: 0; }

/* line 86, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.info {
  text-align: center;
  background: #2980b9;
  padding: 10px 20px;
  color: white; }
  /* line 91, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .info h2 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 2px;
    border-bottom: 2px solid white; }
  /* line 97, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .info h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 75%; }

/* line 104, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
.footer {
  height: 100px;
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid #2980b9;
  border-top: 2px solid #2980b9; }
  /* line 110, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .footer .columns {
    height: 50%; }
  /* line 113, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .footer .social {
    padding-top: 10px; }
    /* line 115, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
    .footer .social i {
      font-size: 30px;
      color: black;
      transition: 0.3s all;
      padding: 5px; }
      /* line 120, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
      .footer .social i:hover {
        color: #2980b9; }
  /* line 125, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .footer .bottom {
    padding-top: 10px; }
  /* line 129, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .footer ul li {
    display: inline; }
  /* line 132, C:/Users/ramz_000/Desktop/Restaurant/css/styles.scss */
  .footer ul li:not(:first-child):before {
    content: '//';
    margin: 0 10px; }

/*# sourceMappingURL=styles.css.map */