$color: #2980b9;
* {
    transition: 0.3s all;
}

body {
    margin-top: 20px;
    background: #F5F5F5;
    font-family: "Roboto Slab", serif;
}

.container {
    max-width: 1200px;
}

a {
    text-decoration: none;
    transition: 0.3s all;
    font-weight: 600;
    color: $color;
    &:hover {
        color: darken($color, 20%);
    }
}

.row {
    margin-bottom: 30px;
}

.columns,
.column {
    height: 100%;
}

.header {
    & .columns,
    & .column {}
    & h1 {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 2px;
        border-bottom: 2px solid $color;
        margin: 10px 0;
    }
}

.left {
    text-align: left;
    padding: 0 10px;
}

.right {
    text-align: right;
    padding: 0 10px;
}

.logo {
    text-align: center;
    height: 150px;
    & img {
        height: 100%;
    }
}

.navigation {
    & .nav {
        display: inline;
        list-style-type: none;
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        border-bottom: 3px solid $color;
        &:hover {
            border-color: darken($color, 20%);
        }
        & a {
            display: block;
        }
    }
}

.slider {
    margin-bottom: 0;
}

.info {
    text-align: center;
    background: $color;
    padding: 10px 20px;
    color: white;
    & h2 {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 2px;
        border-bottom: 2px solid white;
    }
    & h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 75%;
    }
}

.footer {
    height: 100px;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid $color;
    border-top: 2px solid $color;
    & .columns {
        height: 50%;
    }
    & .social {
        padding-top: 10px;
        & i {
            font-size: 30px;
            color: black;
            transition: 0.3s all;
            padding: 5px;
            &:hover {
                color: $color;
            }
        }
    }
    & .bottom {
        padding-top: 10px;
    }
    & ul {
        & li {
            display: inline;
        }
        & li:not(:first-child):before {
            content: '//';
            margin: 0 10px;
        }
        
    }
}