@import 'https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900';
/* line 5, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
* {
  transition: 0.3s all; }

/* line 9, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
html {
  width: 100%;
  height: 100%;
  background: #005b9f; }

/* line 15, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
body {
  margin-top: 150px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: #005b9f;
  color: #9fd6ff;
  overflow: hidden; }

@media (max-width: 500px) {
  /* line 26, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  body {
    margin-top: 50px; } }

/* line 31, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
h1 {
  font-weight: 100;
  font-size: 90px;
  text-align: center;
  line-height: 100%; }

/* line 38, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
p {
  font-size: 15px;
  text-align: center;
  font-weight: 700; }

/* line 46, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.row .column,
.row .columns {
  padding: 20px; }

/* line 51, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
a {
  color: #6cc0ff;
  text-decoration: none;
  border-bottom: 2px solid #6cc0ff; }
  /* line 55, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  a:hover {
    color: #39abff;
    border-color: #39abff; }
  /* line 59, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  a:active {
    color: #20a0ff;
    border-color: #20a0ff; }

/* line 65, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100vh 100vw;
  border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
  position: absolute;
  bottom: 0;
  right: 0; }

/* line 76, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
input[type="email"] {
  width: 250px;
  color: #9fd6ff;
  margin: 2px;
  background: none;
  border: 1px solid #9fd6ff;
  padding: 10px;
  border-radius: 0; }
  /* line 84, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  input[type="email"]:hover {
    border-color: #39abff; }
  /* line 87, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  input[type="email"]:focus {
    border-color: #0079d2;
    outline: none; }

/* line 93, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.button {
  color: #9fd6ff;
  margin: 2px;
  background: none;
  border: 1px solid #9fd6ff;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none; }
  /* line 102, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .button:hover {
    color: #9fd6ff;
    border-color: #39abff; }
  /* line 106, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .button:focus {
    border-color: #0079d2;
    outline: none; }

/* line 112, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.newsletter {
  margin-top: 50px;
  text-align: center; }
  /* line 115, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .newsletter p {
    font-weight: 300;
    font-size: 20px; }

/* line 121, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
::-webkit-input-placeholder {
  color: #9fd6ff; }

/* line 125, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
:-moz-placeholder {
  color: #9fd6ff; }

/* line 130, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
::-moz-placeholder {
  color: #9fd6ff; }

/* line 135, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
:-ms-input-placeholder {
  color: #9fd6ff; }

/* line 139, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.iphone {
  width: 150px;
  position: absolute;
  top: 150px;
  left: -50px;
  opacity: 1;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none; }

/* line 150, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.s6 {
  width: 150px;
  position: absolute;
  top: 240px;
  right: -40px;
  opacity: 1;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none; }

@media (max-width: 700px) {
  /* line 163, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .iphone,
  .s6 {
    opacity: 0; }
  /* line 166, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  input[type="email"] {
    margin-bottom: 30px;
    width: 100%;
    margin: 10px 0 30px 0; }
  /* line 174, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .footer {
    opacity: 0;
    height: 0; }
  /* line 178, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .newsletter p {
    text-wrap: none; } }

@media (max-width: 500px) {
  /* line 184, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .newsletter p {
    font-size: 16px; } }

@media (min-width: 1200px) {
  /* line 190, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .iphone {
    left: 200px; }
  /* line 193, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .s6 {
    right: 200px; } }

@media (max-height: 800px) {
  /* line 199, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .iphone {
    top: 20px; }
  /* line 202, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .s6 {
    top: 100px; } }

@media (max-height: 550px) {
  /* line 209, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .iphone,
  .s6 {
    opacity: 0; } }

/* line 214, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.active {
  color: #00E06E;
  border-color: #00E06E; }
  /* line 217, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .active:hover {
    color: #00E06E;
    border-color: #00E06E; }
  /* line 221, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .active:active {
    color: #00E06E;
    border-color: #00E06E; }

/* line 227, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
.footer {
  position: absolute;
  bottom: 0;
  font-size: 12px; }
  /* line 231, C:/Users/ramz_000/Desktop/Landing Page/css/styles.scss */
  .footer p {
    font-weight: 400; }

/*# sourceMappingURL=styles.css.map */