/* Variables */

$blue: #4eb0e3;
$black: #222;
$georgia:#e74c3c;
$northCarolina:#2ecc71;
$chesapeake:#9b59b6;
$PNW:#f39c12;
$michigan:#34495e;
$newEngland:#1D8251;
$midAtlantic:#F0BB42;
$indiana:#ffa299;

/* Styles */

body {
    font-family: "Roboto", sans-serif;
    color: $blue;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 60px;
    font-weight: 200;
    color: $blue;
    text-align: center;
}

#header {
    margin-top: 50px;
}

#legend {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 15px 5px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        transform: scale(1.02);
    }
    & h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 75%;
        color: $blue;
    }
    & .district {
        font-weight: 400;
    }
    & [id*="Square"] {
        background: black;
        padding: 2px 5px;
        font-size: 14px;
        display: inline-block;
        white-space: nowrap;
        margin: 2px 0;
        color: white;
        font-weight: 500;
        &:hover {
            opacity: 0.7;
        }
    }
    & #pnwSquare {
        background: $PNW;
    }
    & #michiganSquare {
        background: $michigan;
    }
    & #indianaSquare {
        background: $indiana;
    }
    & #georgiaSquare {
        background: $georgia;
    }
    & #ncSquare {
        background: $northCarolina;
    }
    & #chesapeakeSquare {
        background: $chesapeake;
    }
    & #midAtlanticSquare {
        background: $midAtlantic;
    }
    & #neSquare {
        background: $newEngland;
    }
    & #noDistrictSquare {
        background: $blue;
    }
}

#map {
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    z-index: 0;
}

@media (min-width: 1000px) {
    #map {
        width: 60vw;
        height: 60vh;
        margin-top: 25px;
    }
}

@media (min-width: 700px) {
    #map {
        padding-top: 0;
    }
}

.footer {
    text-align: center;
    margin-top: 10px;
    color: #222;
    font-weight: 500;
    & a {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        &:hover {
            color: darken($blue, 40%);
        }
    }
}

.popup {
    position: absolute;
    max-width: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    & .dialog {
        padding: 10px;
    }
}