/* line 5, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
* {
  transition: 0.4s all; }

/* line 9, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
body {
  background: #040c12;
  color: #bedcf0;
  line-height: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center; }

/* line 17, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
a {
  color: #409ad5;
  text-decoration: none;
  font-weight: 700; }
  /* line 22, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  a:hover,
  a:active {
    color: #a9d1ec; }

/* line 27, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #409ad5;
  padding: 0;
  margin: 3em 0; }

/* line 36, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
h2 {
  font-size: 30px;
  margin-bottom: 40px; }

/* line 41, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
h3 {
  font-size: 20px;
  font-weight: 500; }

/* line 46, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
#nav {
  text-align: center;
  line-height: 200%; }

@media (min-width: 550px) {
  /* line 52, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  #nav {
    line-height: 500%; } }

/* line 57, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
.social {
  font-size: 30px; }
  /* line 59, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  .social i {
    padding: 0 10px; }

/* line 64, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
#logo {
  width: 40vw;
  max-width: 500px;
  height: auto;
  margin: 5px auto;
  margin-top: 50px;
  display: block; }

/* line 74, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
#clothes img {
  width: 90%;
  height: auto; }

/* line 80, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
.link {
  margin-top: 20px; }
  /* line 82, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  .link h3 {
    font-size: 20px; }

/* line 88, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
.videos iframe {
  width: 90%; }

/* line 93, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
.footer {
  margin-top: 50px;
  line-height: 150%; }
  /* line 96, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  .footer ul {
    list-style-type: none;
    text-align: center; }
    /* line 99, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
    .footer ul li {
      display: block;
      padding: 0 20px; }
  /* line 104, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  .footer #icons {
    font-size: 20px;
    line-height: 300%; }
    /* line 107, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
    .footer #icons i {
      padding: 5px; }

@media (min-width: 550px) {
  /* line 116, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
  .footer ul li {
    display: inline; } }

/* line 123, C:/Users/ramz_000/Desktop/Light My Way/css/styles.scss */
#toTop {
  position: fixed;
  font-size: 50px;
  bottom: 20px;
  right: 20px;
  display: none; }

/*# sourceMappingURL=styles.css.map */