$base: #2980b9;
$bg: darken($base, 40%);
$font: lighten($bg, 80%);
$a: lighten($bg, 50%);
* {
    transition: 0.4s all;
}

body {
    background: $bg;
    color: $font;
    line-height: 100%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

a {
    color: $a;
    text-decoration: none;
    font-weight: 700;
    &:hover,
    &:active {
        color: lighten($a, 25%);
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid $a;
    padding: 0;
    margin: 3em 0;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

#nav {
    text-align: center;
    line-height: 200%;
}

@media (min-width: 550px) {
    #nav {
        line-height: 500%;
    }
}

.social {
    font-size: 30px;
    & i {
        padding: 0 10px;
    }
}

#logo {
    width: 40vw;
    max-width: 500px;
    height: auto;
    margin: 5px auto;
    margin-top: 50px;
    display: block;
}

#clothes {
    & img {
        width: 90%;
        height: auto;
    }
}

.link {
    margin-top: 20px;
    & h3 {
        font-size: 20px;
    }
}

.videos {
    & iframe {
        width: 90%;
    }
}

.footer {
    margin-top: 50px;
    line-height: 150%;
    & ul {
        list-style-type: none;
        text-align: center;
        & li {
            display: block;
            padding: 0 20px;
        }
    }
    & #icons {
        font-size: 20px;
        line-height: 300%;
        & i {
            padding: 5px;
        }
    }
}

@media(min-width: 550px) {
    .footer {
        & ul {
            & li {
                display: inline;
            }
        }
    }
}

#toTop {
    position: fixed;
    font-size: 50px;
    bottom: 20px;
    right: 20px;
    display: none;
}